backend/models
backend/TXT second validation
front_test
backend/CVs
__pycache__
.vs
.ipynb_checkpoints
ROSE.py
ROSE.pyproj
backend/datasets
backend/python_test_code
ROSE.sln
backend/venv_rose
backend/venv_r
backend/linux_env2
backend/linux_env
~$ ADOLFO CM.txt