backend/models
backend/TXT second validation
front_test
backend/CVs
__pycache__
.vs
.ipynb_checkpoints
ROSE.py
ROSE.pyproj
backend/datasets
backend/python_test_code
ROSE.sln
venv_rose
venv_r
linux_env2
linux_env
~$ ADOLFO CM.txt