backend/models
backend/TXT second validation
front_test
backend/CVs
__pycache__
.vs
.ipynb_checkpoints
ROSE.py
ROSE.pyproj
backend/datasets
backend/python_test_code
ROSE.sln
venv_rose
venv_r
linux_env2
linux_env
backend/rose_dev/prod-entrypoint.sh
backend/rose_dev/Dockerfile.prod
nginx
frontend/Dockerfile.prod
docker-compose-prod.yml
docker-compose-dev.yml
~$ ADOLFO CM.txt